@model IEnumerable<ContosoUniversity.ViewModels.EnrollmentDateGroup>

@{
    ViewBag.Title = "Student Body Statistics";
}

<h2>@ViewBag.Title</h2>

<table class="table">
    <tr>
        <th>
            Enrollment Date
        </th>
        <th>
            Total Students
        </th>
    </tr>

    @foreach (var items in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => items.EnrollmentDate)
            </td>
            <td>
                @items.StudentCount
            </td>
        </tr>
    }

</table>

<br /><br />

<h2>Instructor Statistics</h2>

<table class="table">

    <tr>
        <th>
            Hire Date
        </th>
        <th>
            Total Instructors
        </th>
    </tr>

    @foreach (var item in ViewBag.InstructorData)
    {
        <tr>
            <td>
                @item.HireDateString
            </td>
            <td>
                @item.InstructorCount
            </td>
        </tr>
    }

</table>